/app/node_modules
/app/.env
/app/app.env
/app/wait.html
/alma-cors-proxy/acp.env
/app/json/
/env/mysql.env
/node_modules
/file-loader/node_modules
/file-loader/.env
/file-loader/app.env
/file-loader/wait.html