td {
  border: 1px solid #6fcfeb;
}
.invoice-lines:nth-child(n + 1) {
  margin-top: 1rem;
}
.invoicediv {
  transition: all 1s ease;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}
.invoice-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 50%;
  max-width: 500px;
}
