<script>
  const toggle = (input) => {
    let thisid = input.id;
    const mydiv = document.getElementById(thisid).classList;
    mydiv.toggle('hidden');
    mydiv.toggle('visible');
  };

  const checkall = (source) => {
    checkboxes = document.querySelectorAll('input[type=checkbox]')
    for(var i=0, n=checkboxes.length;i<n;i++) {
      checkboxes[i].checked = source.checked;
    }
    document.getElementById('total2').classList.toggle('hidden');
    document.getElementById('totalcontainer').classList.toggle('hidden');
  }

  const output = document.getElementById('total');

  const distribution = document.getElementById('fundCodes');

  output.textContent = 0;

  const totalingPrice = () => [...document.querySelectorAll('input[type=checkbox]:checked')]
  .reduce((acc, {
    dataset: {
      price
    }
  }) => acc + +price, 0);

  const totalPrice = () => {
    let total = totalingPrice();
    let returnthis = total.toFixed(2);
    return returnthis;
  }


const totalDistribution = () => {
 let arr = [...document.querySelectorAll('input.selectinvoices[type=checkbox]:checked')]
.map(({
  dataset: {
    arraypreview
  }
}) => 
  {
    return arraypreview;
  });

  // arr is array of objects inside of array. Change into array of objects

  let newarry = [];
  arr.forEach(element => {
    newarry.push(JSON.parse(element));
  });

  let arr3 = newarry.flat();

  // add up amount where code is the same in each object

  let result = arr3.reduce((acc, {code, amount}) => {
    acc[code] = (acc[code] || 0) + +amount;
    return acc;
  }, {});

  // convert result into html

  let html = '';

  for (let key in result) {
    html += `<p>${key} : $${parseFloat(result[key]).toFixed(2)}</p>`;
  }

  return html;

}


document.getElementById('marksdatatable').addEventListener('change', () => output.textContent = totalPrice());
document.getElementById('marksdatatable').addEventListener('change', () => distribution.innerHTML = totalDistribution());


</script>
