<ucd-theme-header
  site-name="UC Davis Library"
  slogan="Payment Processor"
  figure-src="/views/img/book-logo.png"
  prevent-fixed
  is-demo
>
  <ucd-theme-primary-nav>
    <li><a href="/">Home</a></li>
    <li><a href="/preview">Select Data to Send</a></li>
    <li><a href="/previewjson">Preview JSON</a></li>
    <li><a href="/checkstatus">Check Payment Status (Aggie Enterprise)</a></li>
  </ucd-theme-primary-nav>

  <ucd-theme-search-popup>
    <ucd-theme-search-form @search="e => console.log(e.detail.searchTerm)">
    </ucd-theme-search-form>
  </ucd-theme-search-popup>
</ucd-theme-header>
