<ucd-theme-header
  site-name="UC Davis Library"
  slogan="Payment Processor"
  figure-src="/views/img/book-logo.png"
  prevent-fixed
  is-demo
>
  <ucd-theme-primary-nav>
    <li><a href="/">Home</a></li>
    <% if (isUser) { %>
    <li><a href="/preview">Select Data to Send</a></li>
    <!-- <li><a href="/checkstatus">Check Payment Status (Aggie Enterprise)</a></li> -->
    <li><a href="/oraclestatus">Check Payment Status (Oracle)</a></li>
    <li><a href="/paidinvoices">View Paid Invoices</a></li>
    <% } %>
    <% if (isAdmin) { %>
      <li><a href="/admin/users">View Users</a></li>
      <li><a href="/admin/funds">View Funds</a></li>
      <li><a href="/admin/vendors">View Vendors</a></li>
    <!-- <li><a href="/admin/add-user">Add a new user to the application</a></li> -->
    <li><a href="/admin/oraclestatus">Check All Payments Status</a></li>
    <!-- <li><a href="/previewjson">Preview JSON</a></li> -->
    <% } %>
  </ucd-theme-primary-nav>

  <ucd-theme-search-popup>
    <ucd-theme-search-form @search="e => console.log(e.detail.searchTerm)">
    </ucd-theme-search-form>
  </ucd-theme-search-popup>
</ucd-theme-header>
