  <div class="l-container">
    <form
      id="search-form"
      method="POST"
      action="/search"
    >
      <fieldset>
        <h2>Search For Invoice</h2>

        <% if (extraMessage) { %>
            <p class="search-failed"><%= extraMessage %></p>
        <% } %>

        <p>Search for invoice by number or id here.</p>

        <div class="field-container">
            <label class="text-muted form-label" for="fundId">Search</label>
            <input
              placeholder="search Term"
              type="text"
              id="searchterm"
              class="form-control"
              name="searchterm"
            />
          </div>

          <div class="field-container--small views-filters__submit-field">
            <button type="submit" class="btn--primary">
              Search
            </button>
          </div>
        </fieldset>
    </form>
</div>