<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include/head'); %>
  </head>
  <body>
    <%- include('include/header'); %>
    <div class="l-container pt-2">
      <h2>Page Not Found</h2>
      <p>Sorry, the page you're looking for does not exit.</p>
      <p><a href="/">Go Home</a></p>
    </div>
    <%- include('include/footer'); %>
  </body>
</html>
