<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include/head'); %>
  </head>
  <style>
    td {
      border: 1px solid #6fcfeb;
    }
  </style>
  <body>
    <%- include('include/header'); %>
    <div class="l-container pt-2">
      <h2>View Check Status</h2>
      <pre><%- body %></pre>
    </div>
    <%- include('include/footer'); %>
  </body>
</html>
