<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include/head'); %>
  </head>
  <body>
    <%- include('include/header'); %> 
    <%- include('include/edit-invoice-form'); %>
    <%- include('include/footer'); %>
  </body>
</html>
