<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include/head'); %>
  </head>
  <body>
    <%- include('include/header'); %>
    <div class="l-container pt-2">
      <h2>Send the data</h2>
      <p>
        If you've already previewed the data and it looks good, you're ready to
        send it! Click the button below to send.
      </p>
      <form>
        <a class="btn--primary" href="/datasent">Send it</a>
      </form>
    </div>
    <%- include('include/footer'); %>
  </body>
</html>
