<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include/head'); %>
  </head>
  <body>
    <%- include('include/header'); %>
    <div class="l-container pt-2">
      <h2>Data Sent!</h2>
      <p>You're done! Time to go home.</p>
      <p><a href="/">Home</a></p>
    </div>
    <%- include('include/footer'); %>
  </body>
</html>
